<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Alura Geek</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="/assets/css/cabecalho.css">
        <link rel="stylesheet" href="/assets/css/banner.css">
        <link rel="stylesheet" href="/assets/css/corpo.css">
        <link rel="stylesheet" href="/assets/css/rodape.css">
        
    </head>
    <body>
        <header class="cabecalho">
            <div class="nav-menu">
                <img class="logo" src="/assets/img/Logo.png">
                <div class="barra-de-pesquisa">
                    <input type="search" class="barra-de-pesquisa-texto" placeholder="O que deseja encontrar?">
                </div>
                <div class="login">
                    <button class="botao-login" onclick="window.location.href = 'views\index.html'">Login</button>
                </div>
            </div> 
        </header>
        <section class="banner">
            <div class="banner-conteudo">
                <h1 class="banner-titulo">Dezembro Promocional</h1>
                <h2 class="banner-subtitulo">Produtos selecionados com 33% de desconto</h2>
                <button class="botao-console" type="button" onclick="window.location.href = 'loja.html'">Ver Consoles</button>
            </div>    
        </section>
        <section>
            <div class="loja-secao">
                <h3 class="titulo-secao">Produtos</h3>
                <a href="./loja.html" class="ver-tudo">Ver tudo ➔</a>
            </div>
            <section class="linha-produto" data-product>

            </section> 
        </section>
        <footer>
            <div class="fale-conosco">
                <div class="div-menu">
                    <a href="./index.html"><img src="/assets/img/Logo.png" class="logo-rodape"></a>
                    <div class="menu">
                        <ul class="menu-lista">
                            <a>Quem somos nós</a>
                            <a>Política de Privacidade</a>
                            <a>Programa Fidelidade</a>
                            <a>Nossas lojas</a>
                            <a>Quero ser franqueado</a>
                            <a>Anuncie Aqui</a>
                        </ul>
                    </div>
                </div>
                <div class="contato">
                    <p class="titulo-contato">Fale Conosco</p>
                    <form id="form" class="formulario">
                        <input id="nome" type="text" class="input input-nome" placeholder="Nome">
                        <input id="mensagem" type="text" class="input input-mensagem" placeholder="Escreva sua Mensagem">
                        <button class="botao-contato">Enviar Mensagem</button>
                    </form>
                </div>
            </div>
            <div class="assinatura">
                <p>Desenvolvido por Andressa Feijóo</p>
                <p>2023</p>
            </div>
        </footer>
        <script type="module" src="/controller/produto-controller.js"></script> 
        <script src="/controller/barra-de-busca.js"></script>   
    </body>
</html>